.section {
    position: relative;
    padding: {
        left: 20%;
        right: 20%;
        top: 50px;
        bottom: 50px;
    }
    &.background-main {
        background-color: $main-color-lightest;
    }
    &.background-accent {
        background-color: $accent-color-lightest;
    }
}

.leading_icons {
    color: red;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 4em;
    color: $main-color-medium;
    i {
        &.fa-refresh {
            color: $accent-color-light;
        }
        padding-left: 10%;
        padding-right: 10%;
    }
}


hr {
    &.light { 
        border-top: 1px solid $main-color-light;
    }
}